.accordion .accordion-item {
    border-bottom: 1px solid #E0E0E0;
    overflow: hidden;
    padding: 10px 0;
}

.accordion accordion-item:first-child .accordion-item {
    border-top: 1px solid #E0E0E0;
}

.accordion .accordion-item-head a {
    color: #000000;
    cursor: pointer;
    display: block;
}

.accordion .accordion-item .accordion-item-head a .toggle-icon {
    display: block;
    float: right;
    height: 16px;
    position: relative;
    transform: rotate(45deg);
    transition: 0.3s transform;
    width: 16px;
}

.accordion .accordion-item.is-collapsed .accordion-item-head a .toggle-icon {
    transform: rotate(0);
}

.accordion .accordion-item-head a .toggle-icon:before,
.accordion .accordion-item-head a .toggle-icon:after {
    background: #000000;
    content: ' ';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
}

.accordion .accordion-item-head a .toggle-icon:after {
    transform: rotate(90deg);
}

.accordion .accordion-item .accordion-item-body {
    height: 0;
    overflow: hidden;
    transition: 0.5s height;
}

.accordion .accordion-item .accordion-item-body .inner {
    padding: 10px 0 0 0;
}